In [1]:
import pandas as pd

In [2]:
bookings = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-s-belihin-38/shared/homeworks/python_ds_miniprojects/2/bookings.csv', sep=';')

In [3]:
bookings.shape

(119390, 21)

In [4]:
shapex = bookings.shape

In [46]:
shapex[0]

119390

In [47]:
shapex[1]

21

In [51]:
df_shape = 'df has {} rows and {} columns'

In [55]:
df_shape = df_shape.format(shapex[0],shapex[1])

In [56]:
df_shape

'df has 119390 rows and 21 columns'

In [57]:
df = bookings

In [58]:
df.isna().sum()

hotel                          0
is_canceled                    0
lead_time                      0
arrival_full_date              0
arrival_date_year              0
arrival_date_month             0
arrival_date_week_number       0
arrival_date_day_of_month      0
stays_in_weekend_nights        0
stays_in_week_nights           0
stays_total_nights             0
adults                         0
children                       4
babies                         0
meal                           0
country                      488
reserved_room_type             0
assigned_room_type             0
customer_type                  0
reservation_status             0
reservation_status_date        0
total_kids                     4
has_kids                       0
older_than_30                  0
dtype: int64

In [61]:
df.astype({'children':'int64'})

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [6]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [7]:
bookings_head = bookings[:7]

In [8]:
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [9]:
bookings.columns.str.lower().str.replace(' ', '_')

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [10]:
bookings.columns = bookings.columns.str.lower().str.replace(' ', '_')

In [11]:
bookings

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [12]:
bookings.query('is_canceled == 0').groupby(['country']).agg({'country':'count'}).nlargest(5,'country')

         country
country
PRT        21071
GBR         9676
FRA         8481
ESP         6391
DEU         6069

In [13]:
bookings.groupby(['hotel']).agg({'stays_total_nights':'mean'}).round(2)

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

In [14]:
bookings.query('reserved_room_type != assigned_room_type').shape

(14917, 21)

In [15]:
bookings.groupby('arrival_date_year')['arrival_date_month'].max()

arrival_date_year
2015    September
2016    September
2017          May
Name: arrival_date_month, dtype: object

In [16]:
bookings.query('is_canceled == 1').groupby(['arrival_date_year', 'arrival_date_month', 'hotel']).agg({'arrival_date_month':'count'})

                                                   arrival_date_month
arrival_date_year arrival_date_month hotel
2015              August             City Hotel                  1232
                                     Resort Hotel                 366
                  December           City Hotel                   668
                                     Resort Hotel                 305
                  July               City Hotel                   939
                                     Resort Hotel                 320
                  November           City Hotel                   301
                                     Resort Hotel                 185
                  October            City Hotel                  1321
                                     Resort Hotel                 411
                  September          City Hotel                  1543
                                     Resort Hotel                 551
2016              April              City Hotel                  1539
                                     Resort Hotel                 522
                  August             City Hotel                  1247
                                     Resort Hotel                 578
                  December           City Hotel                  1072
                                     Resort Hotel                 326
                  February           City Hotel                   930
                                     Resort Hotel                 407
                  January            City Hotel                   438
                                     Resort Hotel                 119
                  July               City Hotel                  1043
                                     Resort Hotel                 456
                  June               City Hotel                  1720
                                     Resort Hotel                 376
                  March              City Hotel                  1108
                                     Resort Hotel                 369
                  May                City Hotel                  1436
                                     Resort Hotel                 479
                  November           City Hotel                  1360
                                     Resort Hotel                 276
                  October            City Hotel                  1947
                                     Resort Hotel                 567
                  September          City Hotel                  1567
                                     Resort Hotel                 455
2017              April              City Hotel                  1926
                                     Resort Hotel                 537
                  August             City Hotel                  1123
                                     Resort Hotel                 693
                  February           City Hotel                   971
                                     Resort Hotel                 388
                  January            City Hotel                  1044
                                     Resort Hotel                 206
                  July               City Hotel                  1324
                                     Resort Hotel                 660
                  June               City Hotel                  1808
                                     Resort Hotel                 631
                  March              City Hotel                  1278
                                     Resort Hotel                 394
                  May                City Hotel                  2217
                                     Resort Hotel                 545

In [17]:
bookings.query('is_canceled == 1').groupby(['arrival_date_year', 'arrival_date_month', 'hotel']).agg({'arrival_date_month':'count'}).groupby(['arrival_date_year']).idxmax()

                              arrival_date_month
arrival_date_year
2015               (2015, September, City Hotel)
2016                 (2016, October, City Hotel)
2017                     (2017, May, City Hotel)

In [18]:
k = bookings.query('is_canceled == 1' and 'hotel == "City Hotel"').groupby(['arrival_date_year', 'arrival_date_month'])

In [19]:
k['hotel'].value_counts()

arrival_date_year  arrival_date_month  hotel
2015               August              City Hotel    2480
                   December            City Hotel    1654
                   July                City Hotel    1398
                   November            City Hotel    1235
                   October             City Hotel    3386
                   September           City Hotel    3529
2016               April               City Hotel    3561
                   August              City Hotel    3378
                   December            City Hotel    2478
                   February            City Hotel    2371
                   January             City Hotel    1364
                   July                City Hotel    3131
                   June                City Hotel    3923
                   March               City Hotel    3046
                   May                 City Hotel    3676
                   November            City Hotel    3122
                   October             City Hotel    4219
                   September           City Hotel    3871
2017               April               City Hotel    3919
                   August              City Hotel    3125
                   February            City Hotel    2594
                   January             City Hotel    2372
                   July                City Hotel    3559
                   June                City Hotel    3971
                   March               City Hotel    3412
                   May                 City Hotel    4556
Name: hotel, dtype: int64

In [20]:
bookings.agg({'adults':'mean', 'children':'mean','babies':'mean'})

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [21]:
bookings['total_kids'] = bookings['children'] + bookings['babies']

In [22]:
bookings.groupby(['hotel']).agg({'total_kids':'mean'}).round(2)

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

In [23]:
bookings.query('total_kids > 0').count()

hotel                        9332
is_canceled                  9332
lead_time                    9332
arrival_full_date            9332
arrival_date_year            9332
arrival_date_month           9332
arrival_date_week_number     9332
arrival_date_day_of_month    9332
stays_in_weekend_nights      9332
stays_in_week_nights         9332
stays_total_nights           9332
adults                       9332
children                     9332
babies                       9332
meal                         9332
country                      9318
reserved_room_type           9332
assigned_room_type           9332
customer_type                9332
reservation_status           9332
reservation_status_date      9332
total_kids                   9332
dtype: int64

In [24]:
bookings.query('total_kids > 0 and is_canceled == 1').count()

hotel                        3259
is_canceled                  3259
lead_time                    3259
arrival_full_date            3259
arrival_date_year            3259
arrival_date_month           3259
arrival_date_week_number     3259
arrival_date_day_of_month    3259
stays_in_weekend_nights      3259
stays_in_week_nights         3259
stays_total_nights           3259
adults                       3259
children                     3259
babies                       3259
meal                         3259
country                      3259
reserved_room_type           3259
assigned_room_type           3259
customer_type                3259
reservation_status           3259
reservation_status_date      3259
total_kids                   3259
dtype: int64

In [25]:
l = bookings.query('total_kids > 0 and is_canceled == 1').count() / bookings.query('total_kids > 0').count()

In [26]:
l=l*100

In [27]:
l.round(2)

hotel                        34.92
is_canceled                  34.92
lead_time                    34.92
arrival_full_date            34.92
arrival_date_year            34.92
arrival_date_month           34.92
arrival_date_week_number     34.92
arrival_date_day_of_month    34.92
stays_in_weekend_nights      34.92
stays_in_week_nights         34.92
stays_total_nights           34.92
adults                       34.92
children                     34.92
babies                       34.92
meal                         34.92
country                      34.98
reserved_room_type           34.92
assigned_room_type           34.92
customer_type                34.92
reservation_status           34.92
reservation_status_date      34.92
total_kids                   34.92
dtype: float64

In [28]:
bookings['has_kids'] = 0

In [29]:
bookings['has_kids'] = bookings.has_kids != bookings.total_kids

In [30]:
bookings.query('has_kids == True')

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids,has_kids
13,Resort Hotel,0,18,2015-07-01,2015,July,27,1,0,4,...,0,HB,ESP,G,G,Transient,Check-Out,2015-07-05,1.0,True
45,Resort Hotel,1,47,2015-07-02,2015,July,27,2,2,5,...,0,BB,PRT,G,G,Transient,Canceled,2015-06-02,2.0,True
55,Resort Hotel,0,1,2015-07-02,2015,July,27,2,0,1,...,0,BB,ESP,C,C,Transient,Check-Out,2015-07-03,2.0,True
65,Resort Hotel,0,10,2015-07-03,2015,July,27,3,0,2,...,0,BB,USA,G,H,Transient,Check-Out,2015-07-05,2.0,True
87,Resort Hotel,1,79,2015-07-03,2015,July,27,3,6,15,...,0,BB,PRT,A,A,Transient,Canceled,2015-04-15,1.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119270,City Hotel,0,0,2017-08-29,2017,August,35,29,0,3,...,0,BB,ROU,A,D,Transient,Check-Out,2017-09-01,1.0,True
119287,City Hotel,0,167,2017-08-27,2017,August,35,27,2,4,...,0,BB,AUT,D,D,Transient,Check-Out,2017-09-02,1.0,True
119293,City Hotel,0,243,2017-08-30,2017,August,35,30,0,3,...,0,BB,DEU,F,F,Transient,Check-Out,2017-09-02,2.0,True
119318,City Hotel,0,160,2017-08-29,2017,August,35,29,0,5,...,0,BB,GBR,A,A,Transient,Check-Out,2017-09-03,1.0,True
119319,City Hotel,0,45,2017-08-28,2017,August,35,28,1,5,...,0,BB,GBR,F,F,Transient,Check-Out,2017-09-03,2.0,True

In [31]:
bookings.lead_time.head

<bound method NDFrame.head of 0         342
1         737
2           7
3          13
4          14
         ...
119385     23
119386    102
119387     34
119388    109
119389    205
Name: lead_time, Length: 119390, dtype: int64>

In [32]:
bookings['older_than_30'] = 30 > bookings.lead_time

In [33]:
bookings['older_than_30']

0         False
1         False
2          True
3          True
4          True
          ...
119385     True
119386    False
119387    False
119388    False
119389    False
Name: older_than_30, Length: 119390, dtype: bool

In [34]:
k=bookings.query('has_kids == True and is_canceled == 1').count() / bookings.query('has_kids == True').count()

In [35]:
bookings.query('has_kids == True and is_canceled == 1').count()

hotel                        3263
is_canceled                  3263
lead_time                    3263
arrival_full_date            3263
arrival_date_year            3263
arrival_date_month           3263
arrival_date_week_number     3263
arrival_date_day_of_month    3263
stays_in_weekend_nights      3263
stays_in_week_nights         3263
stays_total_nights           3263
adults                       3263
children                     3259
babies                       3263
meal                         3263
country                      3263
reserved_room_type           3263
assigned_room_type           3263
customer_type                3263
reservation_status           3263
reservation_status_date      3263
total_kids                   3259
has_kids                     3263
older_than_30                3263
dtype: int64

In [36]:
bookings.query('has_kids == True').count()

hotel                        9336
is_canceled                  9336
lead_time                    9336
arrival_full_date            9336
arrival_date_year            9336
arrival_date_month           9336
arrival_date_week_number     9336
arrival_date_day_of_month    9336
stays_in_weekend_nights      9336
stays_in_week_nights         9336
stays_total_nights           9336
adults                       9336
children                     9332
babies                       9336
meal                         9336
country                      9322
reserved_room_type           9336
assigned_room_type           9336
customer_type                9336
reservation_status           9336
reservation_status_date      9336
total_kids                   9332
has_kids                     9336
older_than_30                9336
dtype: int64

In [37]:
k=k*100

In [38]:
k.round(2)

hotel                        34.95
is_canceled                  34.95
lead_time                    34.95
arrival_full_date            34.95
arrival_date_year            34.95
arrival_date_month           34.95
arrival_date_week_number     34.95
arrival_date_day_of_month    34.95
stays_in_weekend_nights      34.95
stays_in_week_nights         34.95
stays_total_nights           34.95
adults                       34.95
children                     34.92
babies                       34.95
meal                         34.95
country                      35.00
reserved_room_type           34.95
assigned_room_type           34.95
customer_type                34.95
reservation_status           34.95
reservation_status_date      34.95
total_kids                   34.92
has_kids                     34.95
older_than_30                34.95
dtype: float64

In [39]:
bookings.query('total_kids > 1').groupby(['arrival_date_year', 'arrival_date_month'])

In [40]:
q = bookings.query('total_kids == 0 and is_canceled == 1').count() / bookings.query('total_kids == 0').count()

In [41]:
q=q*100

In [42]:
q.round(2)

hotel                        37.22
is_canceled                  37.22
lead_time                    37.22
arrival_full_date            37.22
arrival_date_year            37.22
arrival_date_month           37.22
arrival_date_week_number     37.22
arrival_date_day_of_month    37.22
stays_in_weekend_nights      37.22
stays_in_week_nights         37.22
stays_total_nights           37.22
adults                       37.22
children                     37.22
babies                       37.22
meal                         37.22
country                      37.32
reserved_room_type           37.22
assigned_room_type           37.22
customer_type                37.22
reservation_status           37.22
reservation_status_date      37.22
total_kids                   37.22
has_kids                     37.22
older_than_30                37.22
dtype: float64